/* INFO: Error */
.error-default-container {
    width: 100%;
    height: 90dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--light-blue);
}

.error-default {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
}

.error-top h2 {
    font-size: 128px;
}

.error-top p {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.5;
}

.error-bottom .error-button {
    margin: 0 auto;
    background: transparent;
    color: var(--yellow);
    border: 3px solid var(--yellow);
    padding: 1rem;
    width: 60%;
    border-radius: 5rem;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 100ms ease-in, color 100ms ease-in;
}

.error-button:hover {
    background-color: var(--yellow);
    color: var(--dark-blue);
}

.error-button:active {
    border-color: hsl(61, 77%, 40%);
    background-color: hsl(61, 77%, 40%);
}

@media only screen and (max-width: 1500px) {
    .error-default {
        width: 80%;
    }
    .error-bottom .error-button {
        width: 80% !important;
    }
}

@media only screen and (max-width: 1000px) {
    .error-default {
        width: 80%;
    }
    .error-top h2 {
        font-size: 82px;
    }
    .error-top p {
        font-size: 28px;
    }
}

@media only screen and (max-width: 900px) {
    .error-default {
        width: 100%;
    }
    .error-bottom .error-button {
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    .error-default {
        width: 100%;
    }
    .error-top h2 {
        font-size: 64px;
    }
    .error-top p {
        font-size: 24px;
        width: 80%;
        margin: 0 auto;
    }
    .error-bottom .error-button {
        width: 100%;
        font-size: 22px;
    }
}

@media only screen and (max-width: 480px) {
    .error-default-container {
        width: 100%;
        height: 85dvh;
    }
    .error-default {
        width: 100%;
    }
    .error-top h2 {
        font-size: 64px; 
    }
    .error-top p {
        font-size: 24px;
    }
    .error-button {
        width: 90% !important;
        font-size: 16px !important;
        padding: 1.5rem 1rem !important;
    }
}

/* INFO: Bubble background */
.bubble-background {
    background-color: var(--normal-blue);
    filter: blur(68px);
    width: 50vw;
    height: 90vh;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    opacity: .2;
    z-index: -1;
}

/* INFO: Mobile Tags */

.mobile {
    display: none;
    position: fixed;
    z-index: 100;
}

/* INFO: Header */
header {
    margin: 0 auto;
    width: 75%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--light-blue);
}

.header-left h1 {
    font-size: 24px;
    cursor: pointer;
}

.header-right {
    display: flex;
    gap: 3rem;
}

.header-right svg {
    cursor: pointer;
    position: relative;
}

@media only screen and (max-width: 700px) {
    header {
        justify-content: center;
    }
    .header-right {
        display: none !important;
    }
    .mobile {
        display: block;
    }
    .mobile-header {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 6rem;
        background-color: rgb(12, 11, 44);
    }
    .mobile-header-icons {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media only screen and (max-width: 480px) {
    header {
        justify-content: center;
    }
    .header-right {
        display: none !important;
    }
    .bubble-background {
        height: 50%;
        width: 100%;
    }
    .mobile {
        display: block;
    }
    .mobile-header {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 6rem;
        background-color: rgb(12, 11, 44);
    }
    .mobile-header-icons {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

.container {
    width: 100%;
    height: 95dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero {
    width: 63vw;
    height: 60vh;
    color: var(--light-blue);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
}

.hero-top h2 {
    font-size: 52px;
    margin-bottom: .5rem;
}

.hero-top .latam {
    position: relative;
    background: linear-gradient(to bottom, #C0C0C0 10%, var(--light-blue));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-top .latam::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: var(--yellow);
}

.quote {
    width: 100%;
    font-size: 32px;
    color: var(--yellow);
    opacity: .8;
}

/* INFO: Delete Input Content Icon */

.deleteContent-icon {
    display: none;
    position: absolute;
    right: 15px;
    bottom: 15px;
    fill: var(--semi-opaque-blue);
    opacity: .3;
    cursor: pointer;
}

/* INFO: Search Bar */

.search-bar {
    width: 100%;
    height: 5rem;
    position: relative;
}

.search-bar .search-icon {
    position: absolute;
    fill: var(--semi-opaque-blue);
    left: 20px;
    bottom: 15px;
    opacity: .3;
}

.search-bar input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 100%;
    color: var(--light-blue);
    padding-left: 4.5rem;
    padding-right: 1rem;
    border: 4px solid var(--light-blue);
    border-radius: 5rem;
    font-weight: bold;
    font-size: 32px;
}

.search-bar input::placeholder {
    font-size: 32px;
    font-weight: bold;
    color: var(--semi-opaque-blue);
}

.arrow-container {
    display: none;
    position: absolute;
    bottom: 0;
}

.arrow {
    position: relative;
}

.bottom-arrow {
    position: absolute;
    bottom: 50px;
    translate: -50% -50%;
    animation: bounce 800ms cubic-bezier(0.5, 0, 0.5, 1) infinite;
    cursor: pointer;
}

@keyframes bounce {
    0%, 100% {
        bottom: 50px;
    }
    50% {
        bottom: 40px;
    }
}

@media only screen and (max-width: 700px) {
    .container {
        height: 85dvh;
    }
    .hero {
        width: 100%;
        gap: 3.5rem;
    }
    .hero-top h2 {
        text-align: center;
        font-size: 36px;
    }
    .hero-top {
        margin: 0 auto;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: .5rem;
    }
    .hero-top .quote {
        font-size: 20px;
    }
    .search-bar input::placeholder {
        font-size: 24px;
    }
    .search-bar {
        margin: 0 auto;
        width: 90%;
        height: 4rem;
    }
    .search-icon {
        width: 30px;
        height: 30px;
        bottom: 18px !important;
    }
    .deleteContent-icon {
        width: 30px;
        height: 30px;
        right: 15px !important;
        bottom: 18px !important;
    }
    .search-bar input {
        padding-left: 3.5rem !important;
        font-size: 18px;
        padding-right: 3.5rem !important;
    }
    .search-bar input::placeholder {
        font-size: 18px;
    }
}

/* INFO: Searched Books */

.searched-container {
    width: 100%;
    height: 100dvh;
    padding-bottom: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.searched-container h2 {
    color: var(--light-blue);
    font-size: 48px;
}

.searched-book-name {
    position: relative;
}

.searched-container h2 .searched-book-name::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -5px;
    background-color: var(--yellow);
}

.searched-books-container {
    width: 1800px;
    height: 1200px;
    background-color: hsla(242, 77%, 56%, 10%);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    overflow-y: scroll;
    margin-bottom:5rem;
}

@media only screen and (max-width: 1800px) {
    .searched-books-container {
        width: 1450px;
        grid-template-columns: repeat(5, 1fr);
    }
}

@media only screen and (max-width: 1450px) {
    .searched-books-container {
        width: 1100px;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (max-width: 1100px) {
    .searched-books-container {
        width: 950px;
    }
} 

@media only screen and (max-width: 900px) {
    .searched-books-container {
        width: 725px;
        grid-template-columns: repeat(3, 1fr);
    }
    .searched-container h2 {
        font-size: 38px;
    }
}

@media only screen and (max-width: 725px) {
    .searched-books-container {
        width: 520px;
        grid-template-columns: repeat(2, 1fr);
    }
    .searched-container h2 {
        font-size: 32px;
    }
}

@media only screen and (max-width: 520px) {
    .searched-books-container {
        width: 360px;
        height: auto;
    }
    .searched-books-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .searched-container h2 {
        font-size: 24px;
    }
}

/* INFO: Book Card */

.book-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--light-blue);
    padding: 1rem 0;
    gap: .659rem;
    border-top: 1px solid var(--yellow-two);
    border-bottom: 1px solid var(--yellow-two);
    height: 100%;
}

.book-image img {
    width: 100px;
    height: 156px;
}

.book-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    text-align: center;
}

.book-description {
    width: 100%;
    text-align: center;
    line-height: 1.5;
    padding: 0 4%;
    font-weight: 500;
}

.book-details-btn {
    display: flex;
    justify-content: center;
    width: 100%;
}

.book-details-btn button {
    width: 60%;
    height: 2.5rem;
    border: none;
    background-color: hsla(242, 77%, 56%, 10%);
    border: 1px solid var(--yellow);
    color: var(--yellow);
    border-radius: 5rem;
    cursor: pointer;
}

@media only screen and (max-width: 725px) {
    .book-description {
        display: none;
    }
} 

@media only screen and (max-width: 520px) {
    .book-card {
        width: auto;
    }
    .book-description {
        display: none;
    }
    .book-details-btn button {
        display: none;
    }
}

/* INFO: Individual Book */

.individualBook-container {
    margin-top: 3rem;
    width: 100%;
    height: 90dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.third-bubble {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.individualBook {
    width: 1200px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 2.5rem;
}

.individualBook .heart-container {
    position: absolute;
    right: 15px;
    top: 10px;
}

.individualBook .heart-container svg {
    stroke: var(--light-blue);
    cursor: pointer;
}

.individualBook .heart-container .fill {
    fill: var(--light-blue);
}

.individualBook .individualBook-image-btns img {
    width: 228px;
    height: 345px;
}

.individualBook .individualBook-image-btns .book-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: .5rem;
}

.individualBook .individualBook-image-btns .book-buttons button {
    width: 164px;
    height: 53px;
    border-radius: 8rem;
    cursor: pointer;
    border: 1px solid var(--yellow);
    color: var(--yellow);
    background: hsla(242, 77%, 56%, 10%);
}

.individualBook .individualBook-text {
    color: var(--light-blue);
    line-height: 1.5;
}

.individualBook .individualBook-text h2 {
    font-size: 40px;
    width: 85%;
}

.individualBook .mobile-title {
    display: none;
}

.individualBook .heart-mobile {
    display: none;
}

.individualBook .individualBook-text h3 {
    font-size: 28px;
}

.individualBook .individualBook-text h4 {
    font-size: 24px;
    margin-bottom: .5rem;
}

.individualBook-text h2, .individualBook-text h3, .individualBook-text h4, .individualBook-text p {
    line-height: 1.5;
}

.individualBook .individualBook-text p {
    max-width: 80ch;
}

.individualBook .book-buttons {
    width: 100%;
    display: flex;
    justify-content: left;
    gap: 2rem;
    margin-top: 1.5rem;
}

.individualBook .book-buttons button {
    background: hsla(242, 77%, 56%, 10%);
    border: 1px solid var(--yellow);
    padding: .5rem 1rem;
    height: 3rem;
    width: 10rem;
    border-radius: 5rem;
    color: var(--yellow);
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.individualBook .book-buttons button:hover {
    background-color: var(--yellow);
    color: var(--dark-blue);
}

.individualBook .book-buttons button:active {
    background-color: var(--yellow-two);
    color: var(--light-blue);
}

@media only screen and (max-width: 1200px) {
    .individualBook {
        width: 90%;
    }
    .individualBook-text h2 {
        font-size: 32px !important;
    }
    .individualBook-text h3 {
        font-size: 24px !important;
    }
    .individualBook-text h4 {
        font-size: 20px !important;
    }
    .individualBook-text p {
        font-size: 16px !important;
    }
}

@media only screen and (max-width: 1000px) {
    .individualBook-container {
        height: auto;
        margin-bottom: 2rem;
    }
    .individualBook {
        width: 90%;
        height: auto;
        flex-direction: column;
        text-align: center;
        gap: 0;
    }
    .individualBook-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: .7rem;
    }
    .pc-title {
        display: none !important;
    }
    .mobile-title {
        display: block !important;
        color: white;
        margin-bottom: 2rem;
        font-size: 32px !important;
    }
    .individualBook .individualBook-text h3 {
        font-size: 24px !important;
    }
    .individualBook .individualBook-text h4 {
        font-size: 24px !important;
    }
    .individualBook .individualBook-text p {
        font-size: 16px !important;
    }
    .individualBook .heart-container {
        display: none;
    }
    .individualBook-image-btns {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .individualBook-image-btns .book-image {
        width: 228px;
        height: 345px;
        position: relative;
        margin-bottom: .5rem;
    }
    .heart-mobile {
        display: block !important;
        position: absolute;
        top: 0;
        right: 0;
    }
    .heart-mobile {
        width: 100%;
        background: rgba(0,0,0, .4);
    }
    .heart-mobile.fill {
        fill: #E3E63A;
    }
    .book-buttons {
        flex-direction: column;
        align-items: center;
        gap: .5rem !important;
    }
    .book-buttons button {
        width: 100% !important;
    }
}

@media only screen and (max-width: 520px) {
    .individualBook-container {
        height: auto;
    }
    .individualBook {
        width: 90%;
        height: auto;
        flex-direction: column;
        text-align: center;
        gap: 0;
    }
    .individualBook-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: .7rem;
    }
    .pc-title {
        display: none !important;
    }
    .mobile-title {
        display: block !important;
        color: white;
        margin-bottom: 2rem;
    }
    .individualBook .individualBook-text h2 {
        width: 100%;
        font-size: 24px;
    }
    .individualBook .individualBook-text h3 {
        font-size: 20px;
    }
    .individualBook .individualBook-text h4 {
        font-size: 20px;
    }
    .individualBook .individualBook-text p {
        font-size: 16px !important;
    }
    .individualBook .heart-container {
        display: none;
    }
    .individualBook-image-btns {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .individualBook-image-btns .book-image {
        width: 228px;
        height: 345px;
        position: relative;
        margin-bottom: .5rem;
    }
    .heart-mobile {
        display: block !important;
        position: absolute;
        top: 0;
        right: 0;
    }
    .heart-mobile {
        width: 100%;
        background: rgba(0,0,0, .4);
    }
    .heart-mobile.fill {
        fill: #E3E63A;
    }
    .book-buttons {
        flex-direction: column;
        align-items: center;
        gap: .5rem !important;
    }
    .book-buttons button {
        width: 100% !important;
    }
}

/* INFO: Footer */

.footer-container {
    background: var(--dark-blue);
    border-top: 1px solid var(--yellow);
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.footer-container .copy {
    color: var(--semi-opaque-blue);
}

footer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer-section {
    width: 250px;
    display: flex;
    flex-direction: column;    
}

.footer-section h3 {
    color: var(--light-blue);
}

.footer-section ul li {
    list-style: none;
    margin: .5rem 0;
}

.footer-section ul li a {
    text-decoration: none;
    color: var(--yellow);
}

.footer-section ul li a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.footer-newsletter {
    width: 550px;
    color: var(--light-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.footer-newsletter-inputs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    position: relative;
}

.footer-newsletter-inputs input {
    padding: .5rem 6rem .5rem 1rem;
    height: 3rem;
    width: 100%;
    border-radius: 2rem;
    border: 1px solid var(--yellow);
    background-color: hsla(242, 77%, 56%, 10%);
    color: var(--light-blue);
    outline: none;
    font-size: 1rem;
}

.footer-newsletter-inputs input::placeholder {
    color: var(--light-blue);
}

.footer-newsletter-inputs button {
    position: absolute;
    right: 0;
    border: none;
    padding:.5rem 1rem;
    height: 3rem;
    border-radius: 2rem;
    background-color: hsla(242, 77%, 56%, 10%);
    color: var(--yellow);
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.footer-newsletter-inputs button:hover {
    background-color: var(--yellow);
    color: var(--dark-blue);
}

.footer-newsletter-inputs button:active {
    background-color: var(--yellow-two);
    color: var(--light-blue);
}

.footer-newsletter .footer-newsletter-inputs .checkSpans {
    display: none;
    position: absolute;
    bottom: -30px;
    left: 10px;
}

.footer-newsletter-inputs .error {
    color: #f00;
}

.footer-newsletter-inputs .success {
    color: #0f0;
}

@media only screen and (max-width: 1100px) {
    .footer-newsletter p {
        padding: 0 1rem;
    }
    .footer-newsletter-inputs input {
        width: 90%;
    }
    .footer-newsletter-inputs button {
        right: 5%;
    }
}

@media only screen and (max-width: 700px) {
    .footer-container {
        border: none;
        margin-top: 3rem;
        height: 130px;
        width: 100%;
        flex-direction: row;
        align-items: start !important;
        justify-content: center;
    }
    footer {
        display: none;
    }
    .footer-container .copy {
        font-size: 13px;
    }
}

/* INFO: Liked Modal */

.liked-top {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3rem;
    border-bottom: 1px solid var(--yellow)
}

.liked-books {
    font-size: 1.7rem;
    width: 90%;
}

/* INFO: Cart Modal */

.buy-top {
    height: 3rem;
    width: 100%;
    border-bottom: 1px solid var(--yellow);
}

.tobuy-books {
    font-size: 2rem;
}

.modal-exit {
    position: absolute;
    right: 25px;
    top: 25px;
    cursor: pointer;
}

.buy-modal-btn {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
    height: 5rem;
    border-top: 1px solid var(--yellow);
}

.buy-modal-btn button {
    width: 90%;
    height: 3rem;
    background-color: hsla(242, 77%, 56%, 10%);
    border: 1px solid var(--yellow);
    color: var(--yellow);
    font-size: 1rem;
    border-radius: 5rem;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.buy-modal-btn button:hover {
    background-color: var(--yellow);
    color: var(--dark-blue);
}

.buy-modal-btn button:active {
    background-color: var(--yellow-two);
    color: var(--light-blue);
}
